.button {

    width: 115px;
    height: 32px;
    border-radius: 5px;
    color: black;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #D3D3D3;
    transition: all 300ms ease-in-out;
}

@media screen and (max-width: 600px) {
    .button {
        width: 100px;
        height: 28px;
        font-size: 10px;
    }
}