.header {
    height: 90px;
    width: 100%;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

#site-title {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    text-shadow: #FFFFFF 1px 1px 1px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    #site-title {
        font-size: 20px;
    }
}